@{
    ViewData["Title"] = "About";
}
<div class="container">
    <h1>Om oss</h1>
    <p>
        Nettstedet drives av meg, Line. Jeg er i skrivende stund 32 år, bor i Trondheim og er mamma til en liten gutt på 7 mnd. Jeg startet trillelille fordi jeg ønsket en enkel måte for småbarnsforeldre å finne andre i samme situasjon. Trillelille kan være det første steget for å bli kjent med andre foreldre, og forhåpentligvis kan jeg være med å bidra til at småbarnperioden blir enklere og morsommere for foreldre i permisjon.
    </p>
</div>