@using Microsoft.AspNetCore.Identity
@using TrilleLille.Web.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <ul class="side-nav">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hei @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logg av</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="right hide-on-med-and-down">
        <li><a asp-area="" asp-controller="Account" asp-action="Signup">Registrer deg</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Logg inn</a></li>
    </ul>
}
