@charset "UTF-8";

// Mixins
// @import "components/prefixer";
@import "../wwwroot/lib/materialize/sass/components/mixins";
@import "../wwwroot/lib/materialize/sass/components/color";
@import "color";
// Variables;
@import "variables";
@import "../wwwroot/lib/materialize/sass/components/variables";

// Reset
@import "../wwwroot/lib/materialize/sass/components/normalize";

// components
@import "../wwwroot/lib/materialize/sass/components/global";
@import "../wwwroot/lib/materialize/sass/components/icons-material-design";
@import "../wwwroot/lib/materialize/sass/components/grid";
@import "../wwwroot/lib/materialize/sass/components/navbar";
@import "../wwwroot/lib/materialize/sass/components/roboto";
@import "../wwwroot/lib/materialize/sass/components/typography";
@import "../wwwroot/lib/materialize/sass/components/cards";
@import "../wwwroot/lib/materialize/sass/components/toast";
@import "../wwwroot/lib/materialize/sass/components/tabs";
@import "../wwwroot/lib/materialize/sass/components/tooltip";
@import "../wwwroot/lib/materialize/sass/components/buttons";
@import "../wwwroot/lib/materialize/sass/components/dropdown";
@import "../wwwroot/lib/materialize/sass/components/waves";
@import "../wwwroot/lib/materialize/sass/components/modal";
@import "../wwwroot/lib/materialize/sass/components/collapsible";
@import "../wwwroot/lib/materialize/sass/components/chips";
@import "../wwwroot/lib/materialize/sass/components/materialbox";
@import "../wwwroot/lib/materialize/sass/components/forms/forms";
@import "../wwwroot/lib/materialize/sass/components/table_of_contents";
@import "../wwwroot/lib/materialize/sass/components/sideNav";
@import "../wwwroot/lib/materialize/sass/components/preloader";
@import "../wwwroot/lib/materialize/sass/components/slider";
@import "../wwwroot/lib/materialize/sass/components/carousel";
@import "../wwwroot/lib/materialize/sass/components/date_picker/default";
@import "../wwwroot/lib/materialize/sass/components/date_picker/default.date";
@import "../wwwroot/lib/materialize/sass/components/date_picker/default.time";

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

nav .brand-logo {
    display: normal;
    position: relative;
    padding-right: 10px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
}

main {
    flex: 1 0 auto;
}

h6 {
    font-weight: 500;
}

button{
    border:0;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 100px;
}

.secondary-nav {
    background-color: #7C7C7C;

    ul {
        padding: 15px;
        margin-top: 0;

        li {
            display: inline;
            font-family: 'Quicksand', sans-serif;
            font-size: large;
            font-weight: 600;
            padding: 0 20px;

            a {
                color: white;
                text-transform:uppercase;
            }
            a:hover {
                color: #7BA1aa;
            }
        }
    }
}

.facebook{
    background-color: #3b5998;
    color: white;
    &:hover{
        background-color:#8b9dc3;
    }
}


fieldset.rss-feed{
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    text-align: center;
    padding-left: calc(50% - 120px);
    >legend{
        padding: 0 10px;
    }
}